body{
    background:rgba(36, 36, 36, 0.918);
    color: #accfdd;
    h1{
        font-size: 45px;
    }
    p{
        font-size: larger;
        margin-right: 5px;
    }
}
#headHome{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    img{
        height: 300px;
        width: 300px;
    }
}
.row{
    display: flex;
    justify-content: center;
    span{
        margin-top:20px;
        margin-left: 15px;
    }
    input{
        background: none;
        font-size: larger;
        color: white;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 2px #accfdd;
        border-width: 1px;
        &:hover{
            border-color: var(--hover);
        }
    }
}
#radio{
    display: block;
    
}
#btn{
    text-align: center;
    margin-top: 30px;
    
    button{
        color: var(--color);
        transition: 0.25s;
        background: none;
        border: 2px solid;
        font: inherit;
        line-height: 1;
        margin: 0.5em;
        padding: 1em 2em;
        &:hover,
        &:focus {
            border-color: var(--hover);
            box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
            transform: translateY(-0.25em);
    }
    }
   
}
.disabled{
    display: none;
}

$colors:(raise:#accfdd);
// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
  @each $button, $color in $colors {
    .#{$button} {
      --color: #{$color};
      --hover: #{adjust-hue($color, 45deg)};
    }
  }
